<section class="menu card">
  <h2>🍗 Menú de Pollos</h2>

  <!-- POLLO AL SPIEDO -->
  <h3>Pollo al Spiedo</h3>
  <div class="cards">

        <div class="card">
      <img src="assets/images/menu-item-1.jpg" class="img-responsive" alt="Pocion de Pollo">
      <h4>Porcion de Pollo</h4>
      <p>Pollo al spiedo jugoso, acompañado de papas.</p>
      <strong>Bs 20</strong>
    </div>

    <div class="card">
      <img src="assets/images/20240925_155000.jpg" class="img-responsive" alt="Cuarto de Pollo">
      <h4>Cuarto de Pollo</h4>
      <p>Pollo al spiedo jugoso, acompañado de papas.</p>
      <strong>Bs 24</strong>
    </div>

    <div class="card">
      <img src="assets/images/menu-item-3.jpg" class="img-responsive" alt="Medio Pollo">
      <h4>Medio Pollo</h4>
      <p>Medio pollo al spiedo, ideal para compartir.</p>
      <strong>Bs 35</strong>
    </div>

    <div class="card">
      <img src="assets/images/menu-item-4.jpg" class="img-responsive" alt="Pollo Entero">
      <h4>Pollo Entero</h4>
      <p>Pollo entero al spiedo, crocante y jugoso.</p>
      <strong>Bs 65</strong>
    </div>

  </div>

  <!-- POLLO BROASTER -->
  <h3>Pollo Broaster</h3>
  <div class="cards">

     <div class="card">
      <img src="assets/images/about.jpg" class="img-responsive" alt="Porcion Broaster">
      <h4>Porcion Broaster</h4>
      <p>Cuarto de pollo broaster, súper crocante.</p>
      <strong>Bs 22</strong>
    </div>

    <div class="card">
      <img src="assets/images/about.jpg" class="img-responsive" alt="Cuarto Broaster">
      <h4>Cuarto Broaster</h4>
      <p>Cuarto de pollo broaster, súper crocante.</p>
      <strong>Bs 24</strong>
    </div>

    <div class="card">
      <img src="assets/images/about.jpg" class="img-responsive" alt="Medio Broaster">
      <h4>Medio Pollo Broaster</h4>
      <p>Medio pollo broaster con papas y ensalada.</p>
      <strong>Bs 38</strong>
    </div>

    <div class="card">
      <img src="assets/images/about.jpg" class="img-responsive" alt="Broaster Entero">
      <h4>Pollo Broaster Entero</h4>
      <p>Pollo broaster entero para toda la familia.</p>
      <strong>Bs 70</strong>
    </div>

  </div>

</section>
